{% extends  "@!SonataAdmin/standard_layout.html.twig" %}
{% block side_bar_nav %}
    {{ parent() }}
    <ul class="sidebar-menu">
        <li class="treeview">
            <a href="{{ path('offer_categories', {'name':'Hello'}) }}">
                New Offer
            </a>
        </li>
    </ul>
{% endblock %}