
    {% if services is defined %}
        <div class="container" id="replace">

            {% if services is empty %}
                <h2>No services found under this service category.</h2>
            {% else %}
                <h2>Plase pick a service:</h2>

                <div class="list-group col-md-4 col-lg-4">
                    {% for service in services %}
                        <a ic-get-from="{{ path('offer_create', {'serviceId': service.id}) }}"
                           class="list-group-item list-group-item-action"
                           ic-target='#replace'
                        >
                            {{ service.name }}
                            <span class="badge badge-primary badge-pill">{{ service.items|length }}</span>
                        </a>
                    {% endfor %}

                </div>

            {% endif %}

        </div>
    {% endif %}
