{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{#{% extends  "@SonataAdmin/standard_layout.html.twig" %}#}
{% block sonata_admin_content %}
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.2.1.min.js"></script>

    <div id="replace" class=" ">
        {% include 'form_view.html.twig' with {'form': form} only %}
    </div>

{% endblock %}